body{
    background-color: rgb(255, 255, 255);
  }
  .wrapper{
    width: 80%;
    max-width: 720px;
  }
  #id_username {
    width: 50%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 5px;
    background: rgba(49, 169, 177, 0.749)
  }
  #id_email {
    width: 50%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 5px;
    background: rgba(49, 169, 177, 0.749)
  }
  #id_first_name {
    width: 50%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 5px;
    background: rgba(49, 169, 177, 0.749)
  }
  #id_profile_pic{
    width: 50%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 5px;
    background: rgba(49, 169, 177, 0.749)
  }
  #file_upload_button{
    width: 50%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 5px;
    background: rgba(49, 169, 177, 0.749)
  }
  #id_password1 {
    width: 50%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 5px;
    background: rgba(49, 169, 177, 0.749)
  }
  #id_password2 {
    width: 50%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 5px;
    background: rgba(49, 169, 177, 0.749)
  }
  .requiredField{
    font-size: 30px;
  }
  .form-group{
    position: relative;
    top: 10vh;
    left: 18vw;
  }
  .registerButton{
    font-size: 20px;
    position: relative;
    top: 71px;
    left: -1vw;
    background-color:rgba(49, 169, 177, 0.749);
    border-radius: 50px;
  }
  .loginbut{
    font-size: 20px;
    position: relative;
    background-color: rgba(49, 169, 177, 0.749);
    border-radius: 50px;
  }
  .text{
    font-size: 40px;
    position: relative;
    top: 15vh;
    left: 40vw;
  }
  .form-text.text-muted{
    display: none;
  }
  .helptext{
    font-size:0;
  }
  .redirect_a{
    position: relative;
    top: 623px;
    left: 27vw;
  }